<table style=" width: 100%;height: 10%;">
  <tr>

    <!-- <td style="width: 10%;"> <img src="/assets/images/title.jpg"> </td> -->
    <td style="width: 70%; background-color: rgb(205, 95, 95);"> <span
        style="font-size: 50px; color: rgb(0, 0, 0);margin-left:  20%;"> Online Plant Application</span></td>
    <td style="width: 20%; background-color: rgb(205, 95, 95);">
      <a href="#">Login</a> /
      <a href="#" style="margin-right: 50px;"> Sign Up</a>
      
    </td>
  </tr>
</table>


<table style="width: 100%;height: 10%;">
  <tr>
    
    <td style="width: 15%; text-align: center;"> <a routerLink="/launchseeds"> Launch Seeds</a> </td>
    
    <td style="width: 15%; text-align: center;"> <a routerLink="/seedDetails"> Seed Details </a> </td>
    <td style="width: 15%; text-align: center;"> <a routerLink="/seedsInDB"> Seeds in DB</a> </td>
    <td style="width: 15%; text-align: center;"> <a routerLink="/filterations"> Filterations</a> </td>

  </tr>
</table>
<hr />
<router-outlet></router-outlet>